.modal-dialog {
    .MuiDialog-paper {
        background: none;
    }
    &__content {
        background: $bg_color;
        color: $text_color;
    }
    &__actions {
        background: $bg_color;
    }
}