@import './font.scss';
@import './constants.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $text_color;
    background: $secondary_bg_color;
    min-height: calc(100vh - 60px);

    .container {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 25px;
    }

    .link {
        text-decoration: none;
        color: $link_color;
    }

    .navbar {
        position: sticky;
        top: 0;
        margin-top: 60px;
        padding: 5px 0;
        background: rgba(0, 0, 0, 0.1);

        &--scrolled {
            background: $header_bg_color;
            border-top: 1px solid $accent_text_color;
        }
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            &-item {
                display: flex;
                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: $link_color;

            &.active {
                color: $subtitle_text_color;
                pointer-events: none;
            }
        }
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;

        span {
            padding-top: 1rem;
            padding-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $header_bg_color;
            border-top: 1px solid $accent_text_color;
            color: $text_color;
            font-size: large;
        }
    }

    .button {
        display: flex;
        align-items: center;
        background: $button_color;
        color: $button_text_color;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
    }

    .user-layout {
    }
}
